<div class="feature__2 sp_bottom_80 sp_top_80">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="feature__2__single">
          <div class="feature__2__icon">
            <img src="img/feature/feature__1.svg" alt="" />
          </div>
          <div class="feature__2__text">
            <h4>Free Shipping</h4>
            <p>On orders over $99.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="feature__2__single">
          <div class="feature__2__icon">
            <img src="img/feature/feature__2.svg" alt="" />
          </div>
          <div class="feature__2__text">
            <h4>Money Back</h4>
            <p>Money back in 15 days..</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="feature__2__single">
          <div class="feature__2__icon">
            <img src="img/feature/feature__3.svg" alt="" />
          </div>
          <div class="feature__2__text">
            <h4>Secure Checkout</h4>
            <p>100% Payment Secure.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="feature__2__single">
          <div class="feature__2__icon">
            <img src="img/feature/feature__4.svg" alt="" />
          </div>
          <div class="feature__2__text">
            <h4>Online Support</h4>
            <p>Ensure the product quality.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
