<div class="ltn__banner-area full-width-banner">
  <div class="justify-content-center">
    <div class="ltn__banner-item-full-width">
      <div class="slide-item-info full-width-banner-info">
        <div class="slide-item-info-inner text-center">
          <h1 class="slide-title">Best Offer - Up to 50%</h1>
          <a href="#" class="default__button">Shop Now</a>
        </div>
      </div>
      <div class="ltn__banner-video">
        <video autoplay muted loop id="heroVideo">
          <source
            src="https://cdn.shopify.com/videos/c/o/v/9dedd930caa34456a055c1c0c33d3b6a.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</div>

<!-- <div class="herobanner herobanner__3">
    <div class="herobannerarea__slider  slider__default__arrow herobanner__arrow slider__default__dot herobanner__dot">

        <div class="herobannerarea__slider__single position-relative">

            <div class="herobannerarea__slider__image">
                <img class="img-fluid" src="/assets/img/herobanner/main_herobanner__9.png" alt="slide Image">
            </div>

            <div class="herobanner__inner__3">
                <div class="herobanner__text__wraper ltn__slide-animation">

                    <h1 class="herobanner__title animated"><strong>Pure Gold Jewelry <br>Collection</strong></h1>
                    <div class="herobanner__text animated">
                        <p>Enchanting Styles for Dreamy Souls.</p>
                    </div>

                    <div class="herobanner__button  animated">
                        <a href="#" class="default__button" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="herobannerarea__slider__single position-relative">

            <div class="herobannerarea__slider__image">
                <img class="img-fluid" src="/assets/img/herobanner/main_herobanner__10.png" alt="slide Image">
            </div>

            <div class="herobanner__inner__3">
                <div class="herobanner__text__wraper ltn__slide-animation">

                    <h1 class="herobanner__title animated"><strong>Diamond Jewelry <br>Collection</strong></h1>
                    <div class="herobanner__text animated">
                        <p>Enchanting Styles for Dreamy Souls.</p>
                    </div>

                    <div class="herobanner__button  animated">
                        <a href="#" class="default__button" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="herobannerarea__slider__single position-relative">

            <div class="herobannerarea__slider__image">
                <img class="img-fluid" src="/assets/img/herobanner/main_herobanner__11.png" alt="slide Image">
            </div>

            <div class="herobanner__inner__3">
                <div class="herobanner__text__wraper ltn__slide-animation">

                    <h1 class="herobanner__title animated"><strong>Silver Jewelry <br>Collections</strong></h1>
                    <div class="herobanner__text animated">
                        <p>Enchanting Styles for Dreamy Souls.</p>
                    </div>

                    <div class="herobanner__button  animated">
                        <a href="#" class="default__button" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->
