<div class="herobanner herobanner__3">
    <div class="herobannerarea__slider  slider__default__arrow herobanner__arrow slider__default__dot herobanner__dot">

        <div class="herobannerarea__slider__single position-relative">

            <div class="herobannerarea__slider__image">
                <img class="img-fluid" src="img/herobanner/main_herobanner__9.png" alt="slide Image">
            </div>

            <div class="herobanner__inner__3">
                <div class="herobanner__text__wraper ltn__slide-animation">

                    <h1 class="herobanner__title animated"><strong>Pure Gold Jewelry <br>Collection</strong></h1>
                    <div class="herobanner__text animated">
                        <p>Enchanting Styles for Dreamy Souls.</p>
                    </div>

                    <div class="herobanner__button  animated">
                        <a href="#" class="default__button" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="herobannerarea__slider__single position-relative">

            <div class="herobannerarea__slider__image">
                <img class="img-fluid" src="img/herobanner/main_herobanner__10.png" alt="slide Image">
            </div>

            <div class="herobanner__inner__3">
                <div class="herobanner__text__wraper ltn__slide-animation">

                    <h1 class="herobanner__title animated"><strong>Diamond Jewelry <br>Collection</strong></h1>
                    <div class="herobanner__text animated">
                        <p>Enchanting Styles for Dreamy Souls.</p>
                    </div>

                    <div class="herobanner__button  animated">
                        <a href="#" class="default__button" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="herobannerarea__slider__single position-relative">

            <div class="herobannerarea__slider__image">
                <img class="img-fluid" src="img/herobanner/main_herobanner__11.png" alt="slide Image">
            </div>

            <div class="herobanner__inner__3">
                <div class="herobanner__text__wraper ltn__slide-animation">

                    <h1 class="herobanner__title animated"><strong>Silver Jewelry <br>Collections</strong></h1>
                    <div class="herobanner__text animated">
                        <p>Enchanting Styles for Dreamy Souls.</p>
                    </div>

                    <div class="herobanner__button  animated">
                        <a href="#" class="default__button" tabindex="0">Shop Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
